/*COMMON*/

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    margin: 0 auto;
    width: 1368px;
    font-family: Quicksand, sans-serif;
}

.expandable-button {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #0f8277;
    text-align: center;
    display: flex;
    gap: 16px;
}

.svg-arrow {
    position: relative;
    top: 3px;
}

/*HEADER*/

header {
    width: 1296px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 32.5px auto;
}

.left-wrapper {
    width: 663px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 44px;
    padding: 0;
}

.logo {
    width: 147px;
    height: 38px;
    flex-grow: 0;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.64px;
    text-align: left;
    color: black;
}

.logo:visited, .logo:focus, .logo:hover {
    color: black;
}

.dropdown-button {
    width: 98px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0f8277;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 384px;
    height: 558px;
    padding: 16px 12px 33px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    z-index: 1;
}

.dropdown-menu-section {
    height: 124px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
    margin-bottom: 40px;
}

.dropdown-top-section {
    height: 54px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    padding: 0;
}

.dropdown-content a {
    display: block;
    height: 19px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.dropdown-content p {
    height: 19px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-bottom: 24px;
}

.dropdown-content hr {
    height: 1px;
    align-self: stretch;
    flex-grow: 0;
    border-radius: 100px;
    background-color: #000;
    margin: 40px 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.explore {
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #eee;
}

.search-bar {
    width: 330px;
    height: 36px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 12px;
    border-radius: 4px;
    border: solid 1px #5c5c5c;
    overflow: hidden;
}

.input-learn {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    color: black;
}

.search-icon {
    width: 36px;
    height: 36px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 1px #5c5c5c;
    background-color: #0f8277;
    cursor: pointer;
}

.input-learn::placeholder {
    width: 210px;
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #5c5c5c;
}

.right-wrapper {
    width: 521px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 104px;
    padding: 0;
}

.nav-links {
    width: 249px;
    height: 19px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    padding: 0
}

.nav-link {
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.authorization-buttons {
    width: 168px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
}

.login-button {
    width: 71px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    border-radius: 4px;
}

.login-button a {
    width: 47px;
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f8277;
}

.signup-button {
    width: 81px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #0f8277;
}

.signup-button a {
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #eee;
}

/*SECTION HERO*/

.section-hero {
    width: 1296px;
    height: 602px;
    border-radius: 12px;
    background-color: #dbf3ed;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.hero-text {
    width: 512px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin: 131px 94px 154px 110px;
}

.hero-text h2 {
    width: 512px;
    height: 67px;
    flex-grow: 0;
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.hero-text p {
    width: 482px;
    height: 78px;
    flex-grow: 0;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.learn-buttons {
    width: 271px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
}

.start-learning {
    width: 132px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0f8277;
}

.start-learning a {
    width: 108px;
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #eee;
}

.learn-more {
    width: 115px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: solid 2px #0f8277;
}

.learn-more a {
    width: 91px;
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #0f8277;
}

.hero-image {
    width: 526px;
    height: 533px;
    margin: 39px 54px 30px 0;
    object-fit: contain;
    flex-shrink: 0;
}

/*ACADEMIC TRAINING SECTION*/

#academic-training-container {
    width: 1368px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 36px;
    margin: 80px auto;
}

.academic-training-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.academic-training-wrapper a {
    width: 175px;
    height: 24px;
    flex-grow: 0;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #0f8277;
}

.academic-training-wrapper h2 {
    width: 647px;
    height: 48px;
    flex-grow: 0;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.academic-training-wrapper p {
    width: 667px;
    height: 24px;
    flex-grow: 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.image-wrapper {
    width: 1296px;
    height: 270px;
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.academic-image {
    border-radius: 8px 8px 0 0;
}

.card-wrapper {
    width: 1296px;
    height: 480px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0;
}

.card-content-wrapper {
    width: 1296px;
    height: 210px;
    display: flex;
    gap: 24px;
}

.card-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 24px 10px 24px 16px;
    width: 416px;
    height: 210px;
    border: solid 1px #dadada;
    border-radius: 0 0 8px 8px;
}

.education-wrapper {
    height: 20px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0;
}

.education-span {
    height: 11px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.card-content h3 {
    height: 29px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-top: 16px;
}

.get-diploma {
    width: 138px;
    height: 20px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    margin-top: 81px;
}

.get-diploma a {
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #0f8277;
}

/*COURSES AND SPECIALIZATIONS SECTION*/

.courses-specializations-container {
    width: 1296px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    margin: 0 auto 80px;
}

.courses-specializations-wrapper {
    width: 1014px;
    height: 120px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0;
}

.courses-specializations-wrapper a {
    width: 266px;
    height: 24px;
    flex-grow: 0;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #0f8277;
}

.courses-specializations-wrapper h2 {
    width: 631px;
    height: 48px;
    flex-grow: 0;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.courses-specializations-wrapper p {
    width: 1014px;
    height: 24px;
    flex-grow: 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.popular-courses-card-wrapper {
    width: 1296px;
    height: 480px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
}

.popular-courses-card-content {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid 1px #dadada;
    border-radius: 8px;
}

.courses-specializations-end-section {
    margin: 0 auto;
}

.courses-specializations-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding: 24px 16px;
}

.courses-specializations-education-wrapper {
    height: 20px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0;
}

.courses-specializations-education-wrapper span {
    height: 11px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.courses-specializations-content-h4 {
    height: 29px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.courses-specializations-content-a {
    width: 53px;
    height: 11px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #0f8277;
    margin-top: 57px;
}

/*TABLE SECTION*/

.table-section-title {
    width: 1296px;
    height: 48px;
    flex-grow: 0;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin: 0 auto;
}

.table-section {
    width: 1296px;
    height: 284px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    margin: 40px auto;
}

.category {
    width: 306px;
    height: 284px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    padding: 0;
}

.column-title {
    height: 29px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.subcategory {
    height: 53px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    padding: 0;
}

.course-title {
    height: 24px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #0f8277;
}

.students-count {
    height: 19px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.end-section {
    width: 1368px;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 80px;
}

/*PARTNERS*/

.partners {
    width: 1368px;
    height: 382px;
    display: inline-flex;
    padding: 80px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dbf3ed;
}

.partners-wrapper {
    display: flex;
    width: 1296px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.partners-description {
    width: 871px;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.partners-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

/*FOR BUSINESS*/

.for-business {
    width: 1296px;
    height: 412px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
    padding: 0;
    margin: 80px auto 70px;
}

.bussines-content {
    width: 636px;
    height: 277px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0;
}

.solution-title {
    height: 96px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.solution-description {
    width: 568px;
    height: 78px;
    flex-grow: 0;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.solution-button {
    width: 131px;
    height: 39px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0f8277;
}

.contact-sales {
    width: 107px;
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #eee;
}

.business-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.company-1 { grid-area: 1 / 1 / 2 / 2; border-bottom: solid 1px #bababa; border-right: solid 1px #bababa;}
.company-2 { grid-area: 1 / 2 / 2 / 3; border-bottom: solid 1px #bababa; border-right: solid 1px #bababa;}
.company-3 { grid-area: 1 / 3 / 2 / 4; border-bottom: solid 1px #bababa;}
.company-4 { grid-area: 2 / 1 / 3 / 2; border-bottom: solid 1px #bababa; border-right: solid 1px #bababa;}
.company-5 { grid-area: 2 / 2 / 3 / 3; border-bottom: solid 1px #bababa; border-right: solid 1px #bababa;}
.company-6 { grid-area: 2 / 3 / 3 / 4; border-bottom: solid 1px #bababa;}
.company-7 { grid-area: 3 / 1 / 4 / 2; border-right: solid 1px #bababa;}
.company-8 { grid-area: 3 / 2 / 4 / 3; border-right: solid 1px #bababa;}
.company-9 { grid-area: 3 / 3 / 4 / 4; }

.common-grid {
    width: 196px;
    height: 136px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

/*PRICING TABLE*/

.pricing-table-frame {
    width: 1368px;
    height: 966px;
    align-items: center;
    padding: 80px 36px 100px;
    background-color: #dbf3ed;
    margin-bottom: 80px;
}

.pricing-table-title {
    width: 1296px;
    height: 48px;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-bottom: 40px;
}

.price-all {
    width: 1296px;
    height: 698px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0;
}

.plan {
    width: 416px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
    padding: 56px;
    border-radius: 24px;
    border: solid 1px #0f8277;
    background-color: #fdfdfd;
}

.plan-title-wrapper {
    width: 304px;
    height: 286px;
    flex-grow: 0;
}

.plan-title {
    width: 304px;
    margin: 0 0 27px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.plan-description {
    width: 304px;
    height: 38px;
    margin: 27px 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.price-wrapper {
    width: 304px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 27px;
    padding: 0;
}

.price {
    flex-grow: 0;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.period {
    width: 39px;
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.get-started-left-button {
    height: 42px;
    margin: 75px 93px 0 92px;
    border-radius: 4px;
    background-color: #0f8277;
    display: block;
    padding: 11px 9px;
}

.get-started-middle-button {
    height: 42px;
    margin: 27px 92.5px 0;
    border-radius: 4px;
    border: solid 2px #fff;
    background-color: #0f8277;
    display: block;
    padding: 9px 7px;
}

.get-started-right-button {
    height: 42px;
    margin: 46px 92px 0 93px;
    border-radius: 4px;
    background-color: #0f8277;
    display: block;
    padding: 11px 9px;
}

.get-started {
    font-family: Cabin, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: #f6fdff;
}

.breaker {
    height: 1px;
    align-self: stretch;
    border-radius: 80px;
    background-color: #0f8277;
    margin-top: 18px;
    margin-bottom: 18px;
}

.middle-breaker {
    height: 1px;
    align-self: stretch;
    border-radius: 80px;
    background-color: #fff;
    margin-top: 18px;
    margin-bottom: 18px;
}

.plan-list {
    width: 304px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
    padding: 0;
}

.list_item {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
}

.bullit {
    width: 16px;
    height: 16px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    border-radius: 500px;
    background-color: #0f8277;
}

.bullit-mid {
    width: 16px;
    height: 16px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    border-radius: 500px;
    background-color: #fff;
}

.list-span {
    width: 264px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.middle-plan {
    background-color: #0f8277;
    color: #fff;
}

.margin-set {
    margin-top: 47px;
}

/*GRID SECTION*/

.grid-title {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 23px;
    width: 1296px;
    height: 678.5px;
    margin: 40px 36px 76px 36px;
}

.student-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.student-2 {
    grid-area: 2 / 1 / 3 / 2;
}

.student-3 {
    grid-area: 3 / 1 / 4 / 2;
}

.student-4 {
    grid-area: 3 / 2 / 4 / 3;
}

.student-5 {
    grid-area: 3 / 3 / 4 / 4;
}

.student-6 {
    grid-area: 3 / 4 / 4 / 5;
}

.student-7 {
    grid-area: 2 / 4 / 3 / 5;
}

.student-8 {
    grid-area: 1 / 4 / 2 / 5;
}

.student-9 {
    grid-area: 1 / 2 / 3 / 4;
}

/*CONTACT US FORM*/

.frame-contact-us {
    position: relative;
    width: 1368px;
    height: 726px;
    padding: 1px 0 0;
    background-image: url("../images/image 32.png");
    background-size: cover;
}

.frame-contact-us:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}

.inner {
    position: relative;
    z-index: 2;

}

.contact-us-form {
    width: 565px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 30px;
    border-radius: 24px;
    background-color: #dbf3ed;
    margin: 65px auto 47px;
    z-index: 3;
}

.contact-us-form h3 {
    height: 48px;
    align-self: stretch;
    flex-grow: 0;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.contact-us-form p {
    width: 505px;
    height: 48px;
    flex-grow: 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.label {
    height: 8px;
    flex-grow: 0;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.input-field {
    height: 48px;
    align-self: stretch;
    padding: 12px;
    border-radius: 4px;
    border: solid 1px #0f8277;
    background-color: #fdfdfd;
    color: black;
}

textarea {
    height: 104px;
    align-self: stretch;
    padding: 12px;
    border-radius: 4px;
    border: solid 1px #0f8277;
    background-color: #fdfdfd;
    resize: none;
    outline: none;
    color: black;
}

.send-button {
    width: 196px;
    height: 42px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0f8277;
    cursor: pointer;
}

.send {
    width: 42px;
    height: 22px;
    flex-grow: 0;
    font-family: Cabin, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: center;
    color: #f6fdff;
}

/*FOOTER*/

footer {
    width: 1368px;
    height: 239px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 684px;
    padding: 64px 36px;
    background-color: #f1f1f1;
}

.footer-left-wrapper {
    width: 306px;
    height: 111px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
}

.footer-left-wrapper h1 {
    width: 147px;
    height: 38px;
    flex-grow: 0;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.64px;
    text-align: left;
    color: #000;
}

.footer-left-wrapper p {
    width: 306px;
    height: 57px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.footer-right-wrapper {
    width: 315px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 60px;
    padding: 0;
}

.join-us-on {
    width: 144px;
    height: 32px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.join-us-on img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    background-color: #000;
    cursor: pointer;
}

.footer-right-wrapper p {
    width: 306px;
    height: 19px;
    flex-grow: 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #000;
}




